.mobile-nav {
  display: none;
  visibility: hidden;
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.75);

  &.active {
    display: block;
    visibility: visible;
    animation: mobileNavAppear .2s ease-out;
  }

  &__content {
    color: var(--font-color-1);
    background-color: var(--color-white);
    border-radius: 0 0 var(--border-radius-sm) var(--border-radius-sm);
    padding: 4rem 0;
  }

  &.active &__content {
    animation: getInDown 0.2s ease-out;
  }

  ul {
    flex-direction: column;
  }

  ul li:not(:last-child, :first-child) {
    margin-top: 3rem;
  }

  ul li:last-child {
    margin-top: 1.2rem;
  }

  .js-mobile-dropdown-target svg {
    transition: all .3s;
  }

  .js-mobile-dropdown-target + ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    overflow: hidden;

    max-height: 0;
    opacity: 0;
    padding: 0;
  }

  .js-mobile-dropdown-target + ul li {
    margin-top: 0;
  }

  .js-mobile-dropdown-target.active + ul {
    animation: dropdownOpen .3s ease forwards;
  }

  .js-mobile-dropdown-target.active svg {
    transform: rotate(180deg);
  }

  ul li a:not(.button),
  ul li p {
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }
  .button {
  }
  .button--red {
  }
}

@keyframes dropdownOpen {
  from {
    max-height: 0;
    opacity: 0;
    padding: 0;
  }

  to {
    max-height: 100vh;
    opacity: 1;
    padding-top: 2rem;
  }
}


@keyframes getInDown {
  from {
    transform: translateY(-5rem);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes mobileNavAppear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}