.pricing-cards {
    display: flex;
    column-gap: 2vw;
    margin-top: clamp(5rem, 3.696rem + 2.174vw, 7rem);

    @media (max-width:1180px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3vw;
    }
    @media (max-width:600px) {
        grid-template-columns: 1fr;
        row-gap: 5rem;
    }
    @media (max-width:450px) {
        width: 100%;
    }
}